.home-contaner nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin-bottom: 20px;
}

nav h1{
    font-size: 28px;
    font-weight: 500;
}

nav h1 span{
    border-bottom: 3px solid #06d6a0;
}

.creat-btn{
    height: 7vmin;
    width: 7vmin;
    border: 1px solid #343a40;
    border-radius: 50%;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation: 2s toggle infinite;
    box-shadow: 2px 2px 10px 0px rgba( 255, 255, 255, .2);
}

.home-all-subjects{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow: scroll;
}

.created-subject{
    width: calc(100% / 3 - 20px);
    height: 200px;
    background: rgba(255, 255, 255, .1);
    border-radius: 10px;
}

.creat-subject-box{
    width: calc(100% / 3 - 20px);
    height: 200px;
    background: rgba(255, 255, 255, .1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.creat-subject-box p{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #fff;
}

@keyframes toggle {
    0%{
        font-size: 35px;
    }
    50%{
        font-size: 25px;
    }
    100%{
        font-size: 35px;
    }
}

.created-subject{
    padding: 20px;
    color: #fff;
    position: relative;
    cursor: pointer;
}

.created-subject h1{
    font-size: 35px;
    font-weight: 500;
}

.created-subject p{
    font-size: 15px;
    font-weight: 300;
}

.created-subject span{
    position: absolute;
    bottom: 20px;
    right: 20px;
}